.header {
  background: radial-gradient(at top left, #4054b2, rgb(3, 15, 128) 100%);
  background-repeat: no-repeat;
  padding: 30px 30px 30px 0;
}

.logo :global(img) {
  width: 173px !important;
}

.menuToggle {
  display: none;
}

.menuIcon {
  cursor: pointer;
  display: inline-block;
  padding: 14px 20px 28px;
  position: relative;
  user-select: none;
}

.menuIcon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
  margin-top: 15px;
}

.menuIcon .navicon:before,
.menuIcon .navicon:after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.menuIcon .navicon:before {
  top: 5px;
}

.menuIcon .navicon:after {
  top: -5px;
}

.menuToggle:checked ~ .menuIcon .navicon {
  background: transparent;
}

.menuToggle:checked ~ .menuIcon .navicon:before {
  top: 0;
  transform: rotate(-45deg);
}

.menuToggle:checked ~ .menuIcon .navicon:after {
  top: 0;
  transform: rotate(45deg);
}

.menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.4s ease-in;
}

.menuToggle:not(:checked) ~ .menu {
  display: none;
}

.menuToggle:checked ~ .menu {
  max-height: 60vh;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  overflow: hidden;
}

.nav li {
  font-weight: 600;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: white;
  padding-top: 15px;
}

.nav li a {
  display: inline-block;
  margin: 20px 20px;
  text-decoration: none;
  color: white;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}

.nav li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s;
}

.nav li a:hover::after {
  width: 100%;
}

@media (min-width: 401px) {
  .header {
    padding-left: 30px;
  }

  .logo :global(img) {
    width: 253px !important;
  }

  .menuIcon {
    padding-top: 28px;
  }

  .menuToggle:checked ~ .menu {
    max-height: 35vh;
  }
}

@media (min-width: 55.625em) {
  .header {
    padding-bottom: 50px;
  }

  .menuIcon {
    display: none;
  }

  .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .menuToggle:not(:checked) ~ .menu {
    display: initial;
  }

  .nav li {
    float: left;
  }
}
