.header {
  background: radial-gradient(at top left, #4054b2, rgb(3, 15, 128) 100%);
  background-repeat: no-repeat;
  padding-bottom: 30px;
  padding-top: 30px;
}

.header h1 {
  font-size: 2em;
}

.header h2 {
  font-size: 1.5em;
}

.header h3 {
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 20px;
}

.body h2 {
  font-size: 1.5em;
  font-weight: 400;
}

.btn {
  display: inline-block;
  background: blue;
  padding: 10px 16px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: 500;
}

.postList {
  width: 90%;
  height: 210px;
  border: 0.5px solid #dcdcdc;
  background-color: white;/*royalblue;*/
  padding: 10px;
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
  box-shadow: 2px 2px #dcdcdc;
}

.episodeTitle {
  margin-bottom:30px;
  color: black;
}

.episodeExcerpt {
  color: black;
}


.episodeExcerpt {
  font-size: 1.2em;
}
