.header {
  background: radial-gradient(at top left, #4054b2, rgb(3, 15, 128) 100%);
  background-repeat: no-repeat;
  padding-bottom: 30px;
  padding-top: 30px;
}

.header h1 {
  font-size: 2em;
}

.header h2 {
  font-size: 1.5em;
}

.header h3 {
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: blue;
  padding: 10px 16px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: 500;
}

.postList {
  border-radius: 4px;
  border: 0.5px solid #dcdcdc;
  background-color: white; /*royalblue;*/
  margin: 40px 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0px;
  box-shadow: 0px 3px 15px 0px rgb(0 0 0 / 15%);
}

.postList_content {
  padding: 0.6em;
}

.postList_audio {
  padding-top: 0.4em;
}

.episodeTitle {
  margin-bottom: 30px;
  color: #263669;
  font-size: 24px;
  font-weight: 500 !important;
}

.episodeExcerpt {
  color: #263669;
  font-size: 1.1em;
  font-weight: 500 !important;
}
@media screen and (max-width: 768px) {
  .postList {
    grid-template-columns: 1fr;
    margin: 10px 5px;
  }
  .episodeTitle {
    font-size: 1.5em !important;
  }
  .episodeExcerpt {
    font-size: 1.2em !important;
  }
  .postList_content {
    padding: 0.6em !important;
  }
}
@media screen and (max-width: 600px) {
  .postList {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 1024px) {
  .episodeTitle {
    font-size: 1.7em;
    max-width: 100%;
    word-wrap: normal;
  }
  .episodeExcerpt {
    font-size: 1.3em !important;
  }
  .postList_content {
    padding: 0.6em;
  }
}
