.header {
  background: radial-gradient(at top left, #4054b2, rgb(3, 15, 128) 100%);
  background-repeat: no-repeat;
  padding-bottom: 30px;
  padding-top: 30px;
}

.header h1 {
  font-size: 2em;
}

.header h2 {
  font-size: 1.5em;
}

.header h3 {
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 20px;
}

.episodes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
  background: var(--grey-100);
}

.episodes a:hover {
  text-decoration: none;
}

.episodes h1 {
  position: relative;
  margin: 16px 0 8px;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.5px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--primary-700);
}

.episodes h1::after {
  content: '';
  position: absolute;
  left: 40%;
  bottom: -12px;
  height: 4px;
  width: 20%;
  background: var(--primary-700);
}

.episodes ul {
  margin: 0;
  max-width: 960px;
  padding: 0;
}

.episodeCard {
  margin: 24px 16px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  list-style: none;
  background: #fff;
  box-shadow: 0 3px 5px -2px var(--grey-200), 0 7px 14px -5px var(--grey-200);
  transition: transform ease-out .1s;
}

.episodeCard:hover {
  box-shadow: 0 -1px 3px 0 var(--grey-200), 0 1px 2px -5px var(--grey-200), 0 2px 5px -5px var(--grey-200), 0 4px 12px -5px var(--grey-200), 0 12px 15px -5px var(--grey-200);
  transform: scale(1.02);
  transition: all ease-out .3s;
}

.episodeCard audio {
  width: 100%;
  margin-top: 24px;
  border-radius: 64px;
}

.cardPicture > :global(.gatsby-image-wrapper) {
  width: 100%;
  aspect-ratio: 4/3;
}

.cardContent {
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
}

.episodeTitle {
  margin: 8px 0 4px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.020em;
  line-height: 1.67;
  color: var(--primary-700);
}

.episodeExcerpt {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  color: var(--grey-600);
}

@media (min-width: 500px), screen and (orientation: landscape) {
  .cardPicture > :global(.gatsby-image-wrapper) {
    aspect-ratio: 21/9;
  }
}

@media all and (min-width: 768px) {
  .episodeCard {
    flex-direction: row;
    min-height: 200px;
  }

  .cardPicture > :global(.gatsby-image-wrapper) {
    height: 100%;
    width: 200px;
  }

  .cardContent {
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cardContent audio {
    margin: auto 0 0;
  }

  .episodeExcerpt {
    line-clamp: 4;
    -webkit-line-clamp: 4;
  }
}
