
.podcast_details {
  margin-top: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.4em;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 40px;
  padding: auto;
}

.episode_details {
  padding-top: 1em;
}

audio {
margin-top: 2em;
}

