.podcast_details {
  margin-top: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.4em;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 40px;
  padding: auto;
}

.podcast_guest_picture {
  float: right;
  padding: 0.4em;
}

.episode_details {
  padding-top: 1em;
}

audio {
margin-top: 2em;
}

@media screen and (max-width: 600px) {
  .podcast_guest_picture {
    float: none;
    padding: 0.4em;
  }
}
