.elementor-1513 .elementor-element.elementor-element-67dd07a4 {
  --divider-border-style: solid;
  --divider-color: #000;
  --divider-border-width: 1px;
}
.elementor-1513
  .elementor-element.elementor-element-67dd07a4
  .elementor-divider-separator {
  width: 100%;
}
.elementor-1513
  .elementor-element.elementor-element-67dd07a4
  .elementor-divider {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-1513 .elementor-element.elementor-element-19e747fd {
  color: #4054b2;
  font-size: 1.5em;
}
.elementor-1513
  .elementor-element.elementor-element-19e747fd
  > .elementor-widget-container {
  margin: 0px 0px -20px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1513 .elementor-element.elementor-element-642c5e8b {
  --divider-border-style: solid;
  --divider-color: #000;
  --divider-border-width: 1px;
}
.elementor-1513
  .elementor-element.elementor-element-642c5e8b
  .elementor-divider-separator {
  width: 100%;
}
.elementor-1513
  .elementor-element.elementor-element-642c5e8b
  .elementor-divider {
  padding-top: 15px;
  padding-bottom: 15px;
}
