.elementor-121334 .elementor-element.elementor-element-45397e74 {
  --divider-border-style: solid;
  --divider-color: #000;
  --divider-border-width: 1px;
}
.elementor-121334
  .elementor-element.elementor-element-45397e74
  .elementor-divider-separator {
  width: 100%;
}
.elementor-121334
  .elementor-element.elementor-element-45397e74
  .elementor-divider {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-121334 .elementor-element.elementor-element-503dd70a {
  color: #4054b2;
  font-size: 1.5em;
}
.elementor-121334
  .elementor-element.elementor-element-503dd70a
  > .elementor-widget-container {
  margin: 0px 0px -20px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-121334 .elementor-element.elementor-element-555ad07 {
  --divider-border-style: solid;
  --divider-color: #000;
  --divider-border-width: 1px;
}
.elementor-121334
  .elementor-element.elementor-element-555ad07
  .elementor-divider-separator {
  width: 100%;
}
.elementor-121334
  .elementor-element.elementor-element-555ad07
  .elementor-divider {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-121334 .elementor-element.elementor-element-9464b45 {
  color: #4054b2;
  font-size: 1.5em;
}
.elementor-121334
  .elementor-element.elementor-element-9464b45
  > .elementor-widget-container {
  margin: 0px 0px -20px 0px;
  padding: 0px 0px 0px 0px;
}
