.elementor-1051 .elementor-element.elementor-element-7ca91b6a {
  --divider-border-style: solid;
  --divider-color: #000;
  --divider-border-width: 1px;
}
.elementor-1051
  .elementor-element.elementor-element-7ca91b6a
  .elementor-divider-separator {
  width: 100%;
}
.elementor-1051
  .elementor-element.elementor-element-7ca91b6a
  .elementor-divider {
  padding-top: 15px;
  padding-bottom: 15px;
}
