.elementor-121209 .elementor-element.elementor-element-7a9640ae {
  --divider-border-style: solid;
  --divider-color: #000;
  --divider-border-width: 1px;
}
.elementor-121209
  .elementor-element.elementor-element-7a9640ae
  .elementor-divider-separator {
  width: 100%;
}
.elementor-121209
  .elementor-element.elementor-element-7a9640ae
  .elementor-divider {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-121209 .elementor-element.elementor-element-44e210cd {
  color: #4054b2;
  font-size: 1.5em;
}
.elementor-121209
  .elementor-element.elementor-element-44e210cd
  > .elementor-widget-container {
  margin: 0px 0px -20px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-121209 .elementor-element.elementor-element-df58dbe {
  --divider-border-style: solid;
  --divider-color: #000;
  --divider-border-width: 1px;
}
.elementor-121209
  .elementor-element.elementor-element-df58dbe
  .elementor-divider-separator {
  width: 100%;
}
.elementor-121209
  .elementor-element.elementor-element-df58dbe
  .elementor-divider {
  padding-top: 15px;
  padding-bottom: 15px;
}
