.elementor-121492 .elementor-element.elementor-element-6e2c89 {
  --divider-border-style: solid;
  --divider-color: #000;
  --divider-border-width: 1px;
}
.elementor-121492
  .elementor-element.elementor-element-6e2c89
  .elementor-divider-separator {
  width: 100%;
}
.elementor-121492
  .elementor-element.elementor-element-6e2c89
  .elementor-divider {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-121492 .elementor-element.elementor-element-14ad7fad {
  color: #4054b2;
  font-size: 1.5em;
}
.elementor-121492
  .elementor-element.elementor-element-14ad7fad
  > .elementor-widget-container {
  margin: 0px 0px -20px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-121492 .elementor-element.elementor-element-51d01931 {
  --divider-border-style: solid;
  --divider-color: #000;
  --divider-border-width: 1px;
}
.elementor-121492
  .elementor-element.elementor-element-51d01931
  .elementor-divider-separator {
  width: 100%;
}
.elementor-121492
  .elementor-element.elementor-element-51d01931
  .elementor-divider {
  padding-top: 15px;
  padding-bottom: 15px;
}
