.elementor-121439 .elementor-element.elementor-element-5b132d19 {
  --divider-border-style: solid;
  --divider-color: #000;
  --divider-border-width: 1px;
}
.elementor-121439
  .elementor-element.elementor-element-5b132d19
  .elementor-divider-separator {
  width: 100%;
}
.elementor-121439
  .elementor-element.elementor-element-5b132d19
  .elementor-divider {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-121439 .elementor-element.elementor-element-68c0c57b {
  color: #4054b2;
  font-size: 1.5em;
}
.elementor-121439
  .elementor-element.elementor-element-68c0c57b
  > .elementor-widget-container {
  margin: 0px 0px -20px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-121439 .elementor-element.elementor-element-46f5fe0e {
  --divider-border-style: solid;
  --divider-color: #000;
  --divider-border-width: 1px;
}
.elementor-121439
  .elementor-element.elementor-element-46f5fe0e
  .elementor-divider-separator {
  width: 100%;
}
.elementor-121439
  .elementor-element.elementor-element-46f5fe0e
  .elementor-divider {
  padding-top: 15px;
  padding-bottom: 15px;
}
