.elementor-120811 .elementor-element.elementor-element-2c0ac103 {
  --divider-border-style: solid;
  --divider-color: #000;
  --divider-border-width: 1px;
}
.elementor-120811
  .elementor-element.elementor-element-2c0ac103
  .elementor-divider-separator {
  width: 100%;
}
.elementor-120811
  .elementor-element.elementor-element-2c0ac103
  .elementor-divider {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-120811 .elementor-element.elementor-element-546a0336 {
  color: #4054b2;
  font-size: 1.5em;
}
.elementor-120811
  .elementor-element.elementor-element-546a0336
  > .elementor-widget-container {
  margin: 0px 0px -20px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-120811 .elementor-element.elementor-element-276fdffc {
  --divider-border-style: solid;
  --divider-color: #000;
  --divider-border-width: 1px;
}
.elementor-120811
  .elementor-element.elementor-element-276fdffc
  .elementor-divider-separator {
  width: 100%;
}
.elementor-120811
  .elementor-element.elementor-element-276fdffc
  .elementor-divider {
  padding-top: 15px;
  padding-bottom: 15px;
}
