.elementor-121272 .elementor-element.elementor-element-19ffe50 {
  --divider-border-style: solid;
  --divider-color: #000;
  --divider-border-width: 1px;
}
.elementor-121272
  .elementor-element.elementor-element-19ffe50
  .elementor-divider-separator {
  width: 100%;
}
.elementor-121272
  .elementor-element.elementor-element-19ffe50
  .elementor-divider {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-121272 .elementor-element.elementor-element-7f97831 {
  color: #4054b2;
  font-size: 1.5em;
}
.elementor-121272
  .elementor-element.elementor-element-7f97831
  > .elementor-widget-container {
  margin: 0px 0px -20px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-121272 .elementor-element.elementor-element-72d1aa9f {
  --divider-border-style: solid;
  --divider-color: #000;
  --divider-border-width: 1px;
}
.elementor-121272
  .elementor-element.elementor-element-72d1aa9f
  .elementor-divider-separator {
  width: 100%;
}
.elementor-121272
  .elementor-element.elementor-element-72d1aa9f
  .elementor-divider {
  padding-top: 15px;
  padding-bottom: 15px;
}
